<!doctype html>
<html ng-app="landing">
<head>
	<meta charset="utf-8">
	<title>angular</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="build/dex-lp.css" />
	<script src="build/dex-lp.js"></script>
</head>
<body ng-controller="BodyCtrl" class="{{bodyClass}}">
<div class="top-bar">
	<div class="container">
		<a ng-click="setRoute('/')" class="logo">
			<img src="img/logo-big.png" alt="DEX logo">
		</a>

		<div class="auth">
			<a href="#" class="enter">Вход</a>
			<a href="#" class="reg">Регистрация</a>
		</div>
	</div>
</div>

<div id="content" ng-view>
</div>

<div class="bottom-menu">
	<div class="wrapp">
		<div class="mobile"><i class="icon-download icon-upload icon-white"></i>Меню</div>
		<nav id="main-nav">
			<a href="http://altglance.ru/dex/blog/">Блог</a>
			<a ng-click="setRoute('about')">О проекте</a>
			<a ng-click="setRoute('rates')">Тарифы</a>
			<a ng-click="setRoute('faq')">Популярные вопросы</a>
			<a ng-click="setRoute('contacts')">Контакты</a>
		</nav>

		<ul class="social">
			<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
			<div class="yashare-auto-init" data-yasharel10n="ru"
			     data-yasharequickservices="vkontakte,facebook,twitter,linkedin,gplus" data-yasharetheme="counter"></div>
		</ul>
	</div>
</div>
</body>
</html>
