.noOverflow {
  overflow: hidden
}

.modal-wrapper {
  z-index: 1050;
  position: relative;
}

.modal-wrapper .modal-backdrop.in {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: alpha(Opacity=80);
  opacity: .8
}

.modal {
  display: block;
  overflow: auto;
  text-align: center
}

.modal .modal-dialog {
  padding: 10px 10px 0;
  max-height: 100%;
  width: 600px;
  max-width: 100%;
  margin: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: left;
  z-index: 1060
}

.modal .modal-dialog .modal-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px
}

.modal .modal-dialog, .modal.fade .modal-dialog, .modal.fade.in .modal-dialog {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.no-csstransforms .modal-dialog, .no-csstransforms.fade .modal-dialog, .no-csstransforms.fade.in .modal-dialog {
  position: relative;
  left: auto;
  top: auto;
  margin: auto
}

.lt-ie8 .modal-content {
  display: inline;
  zoom: 1
}
