<div class="about-box">
	<div class="container">

		<div class="section sec1" id="sec1">
			<div class="magnify">
				<div class="large"></div>
				<img class="small" src="img/mag-blur.png" width="100%">
			</div>
			<h2>Что такое DEX</h2>
			<div class="about-main">
				<p class="intro-text">Это робот-консультант, с которым можно говорить по-русски. Мы загрузили в него знания бизнесменов и финансистов и научили пользоваться методиками для производственного и экономического планирования. <br>Теперь DEX готов поделиться этим с Вами.</p>
				<p class="h-1">в процессе живого общения <span>DEXadvisor</span> поможет:</p>
				<ul>
					<li>Успешно запустить новый коммерческий проект</li>
					<li>Сделать более эффективным существующий бизнес</li>
					<li>Построить финансовую модель вашего дела</li>
				</ul>
			</div>
		</div>


		<div class="section sec2" id="sec2">
			<h2>Возможности</h2>
			<div class="about-main">

				<div class="col col-1">
					<div class="el-1">
						<p class="intro-text">С помощью <br>DEXadvisor можно:</p>
					</div>
					<div class="el-2">
						<p>Проанализировать сценарии развития бизнеса и больше заработать</p>
					</div>
					<div class="el-3">
						<p>Учесть все необходимые параметры, про которые Вы можете забыть: ЖКХ, аренда, материалы и их стоимость, срок службы недвижимости и иных активов</p>
					</div>
				</div>

				<div class="col col-2">
					<div class="el-4">
						<p>Создать финансовый план для банка или инвестора</p>
					</div>
					<div class="el-5">
						<p>Планировать доходы и расходы проекта и избежать банкротства</p>
					</div>
					<div class="el-6">
						<p>Продемонстрировать свой проект друзьям по почте или опубликовать его в социальных сетях</p>
					</div>
				</div>

				<div class="clearfix"></div>

			</div>
		</div>



		<div class="section sec3" id="sec3">
			<h2 data-dest="step1">Шаг 1: Чат</h2>
			<div class="about-main">

				<div class="text-block animated anim-left-on">
					<p class="desc">Работа с DEXadvisor чрезвычайно проста:</p>
					<p class="text">Умный робот<br> задает вопросы<br> о Вашем проекте<br> и Вы максимально<br> честно и просто<br> на них отвечаете</p>
				</div>

				<div class="img animated anim-right-on">
					<img src="img/about-sec3.png">
					<a href="img/about-sec3.png" class="zoom">Увеличить</a>
				</div>

			</div>
		</div>


		<div class="section sec4" id="sec4">
			<h2>Шаг 2: Редактор</h2>
			<div class="about-main">

				<div class="text-block animated anim-left-on">
					<p class="text">Слева можно <br>редактировать <br>Ваши ответы, <br>а справа — <br>посмотреть, <br>как изменения <br>влияют <br>на финансовый <br>результат проекта
				</div>

				<div class="img animated anim-right-on">
					<img src="img/about-sec4.png">
					<a href="img/about-sec4.png" class="zoom">Увеличить</a>
				</div>

			</div>
		</div>



		<div class="section sec5" id="sec5">
			<h2>Шаг 3: Результат</h2>
			<div class="about-main">

				<div class="text-block animated anim-left-on">
					<p class="text">Ваша работа завершена!</p>
					<p class="text">Скачайте финансовый план Вашего проекта <br>в формате Excel</p>
				</div>

				<div class="img animated anim-right-on">
					<img src="img/about-sec5.png">
					<a href="img/about-sec5.png" class="zoom">Увеличить</a>
				</div>

			</div>
		</div>


		<div class="section sec6" id="sec6">
			<h2>Уникальность</h2>
			<div class="about-main">
				<div class="col c1">
					<h3>Распознавание человеческого языка</h3>
					<p>Работа с DEXadvisor — текстовый диалог с цифровым консультантом. Этот диалог будет проходить на Вашем родном языке.</p>
				</div>
				<div class="col c2">
					<h3>Software-<br>as-a-Service</h3>
					<p>DEXadvisor является SaaS-сервисом, и Вы можете пользоваться им с любого устройства в любое время дня и ночи.</p>
				</div>
				<div class="col c3">
					<h3>Самый простой финансовый редактор</h3>
					<p>Работа с Вашими финансовыми планами в DEXadvisor проста и удобна за счет использования наглядных функций, графиков и подсказок.</p>
				</div>
				<div class="col c4">
					<h3>Экспорт в Excel</h3>
					<p>Вы можете скачать результат работы в виде финансовой модели в формате Excel и показать ее партнерам, инвесторам или кредиторам. Она будет отвечать всем их формальным требованиям.</p>
				</div>
				<div class="col c5">
					<h3>Уникальная база-знаний</h3>
					<p>В основе системы лежат постоянно обновляемые экспертные знания о том, что желательно учитывать в разных проектах пользователей, аа также полезные методические рекомендации и оценка влияния различных факторов на доходы клиентов.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>



		<div class="sidebar">

			<a class="btn-about popup-with-zoom-anim animated pulse" oc-modal-open="'partial/modal.html'"></a>

			<nav id="sidebar-nav">
				<a  href="#sec1" class="a1 active">Что такое DEX</a>
				<a  href="#sec2" class="a2">Возможности</a>
				<a  href="#sec3" class="a3">Шаг 1: Чат</a>
				<a  href="#sec4" class="a4">Шаг 2: Редактор</a>
				<a  href="#sec5" class="a5">Шаг 3: Результат</a>
				<a  href="#sec6" class="a6">Уникальность</a>
			</nav>
		</div>
	</div>
</div>