<div class="contact-box">
	<div class="container">
		<h1 class="col">Контакты</h1>
		<div class="col col2">
			<p class="adress">Москва, Б. Тишинский пер., д. 43</p>
			<p class="phone">+7 (495) 532-96-96</p>
			<p class="email">support@dexadvisor.com</p>
		</div>
		<div class="col col3">
			<p class="name">ООО «Рашн Апрэйзл»</p>
			<p class="inn">ИНН: 7703755657</p>
			<div class="socials">
				<a href="#" class="fb"></a>
				<a href="#" class="vk"></a>
				<a href="#" class="ln"></a>
				<a href="#" class="tw"></a>
				<a href="#" class="gp"></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


<div id="map" style="width: 100%; height: 500px;"></div>