<div class="faq-form-box">
	<div class="container">
		<h1>Вопросы и ответы</h1>

		<div class="faq-form">
			<input class="search-input" type="text" placeholder="Поиск" ng-model="search_query">
			<!--<input class="search-submit" type="image" src="img/btn_search.png" alt="search">-->
		</div>
		<div class="faq-form-desc">
			Если Вы не нашли ответ на свой вопрос – обратитесь, пожалуйста, в службу поддержки по электронной почте <a
				href="mailto:support@dexadvisor.ru" class="mailto">support@dexadvisor.ru</a>
		</div>
	</div>
</div>

<div class="clearfix"></div>

<div class="faq">
	<div class="container">
		<ul>
			<li ng-repeat="group in groups">
				<h3 ng-class="{open: group.opened}" ng-click="click(group)">{{group.title}} ({{(group.questions | filter: search_query).length}})</h3>
				<dl ng-repeat="q in group.questions | filter: search_query" ng-show="group.opened">
					<dt ng-bind-html="q.question | highlight:search_query"></dt>
					<dd ng-bind-html="q.answer | highlight:search_query"></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>