<div class="top-head">
	<div class="container">
		<div class="logo"></div>
		<p class="logo-desc">Робот-консультант<br>по планированию бизнеса</p>
	</div>
</div>

<div class="main-box">
	<div class="container">
		<div class="main-features">
			<h4>Отвечаем на следующие вопросы:</h4>
			<ul>
				<li>Как увеличить доходы</li>
				<li>Что нужно для запуска нового бизнеса</li>
				<li>Сколько я могу зарабатывать<p class="lh">на самом деле</p></li>
			</ul>
		</div>
		<div class="video-b">
			<a href="http://www.youtube.com/watch?v=opj24KnzrWo" class="video-btn"></a>
			<div class="count-proj-text"><span>проектов</span><br>в системе</div>
			<div class="count-proj-number">2437</div>
		</div>
		<div class="end-text">
			<div class="container">
				Даже не обязательно знать финансы и бухучет!
			</div>
		</div>
	</div>
</div>

<div class="form-box">
	<div class="container">
		<h1>Начните работу прямо сейчас!</h1>
		<div class="main-form">
			<input class="input-email" type="text" placeholder="Ваш электронный адрес">
			<button>Попробовать</button>
			<div class="free-print"></div>
			<div class="test-print"></div>
		</div>
		<div class="socials">
			<span>Войти: </span>
			<a href="#" class="fb"></a>
			<a href="#" class="vk"></a>
			<a href="#" class="ln"></a>
			<a href="#" class="tw"></a>
			<a href="#" class="gp"></a>
		</div>
		<a href="about.php" class="how-it-w">как это работает</a>
	</div>
</div>

<div class="review-box">
	<div class="container">
		<h3>О нас говорят:</h3>
		<ul class="bxslider review-slider">
			<li>
				<img src="http://placehold.it/60x60">
				<p class="review-comment">— Нет на свете консультанта лучше чем DEX. В голове всегда один и тот же вопрос: "Это то что мне нужно!! Откуда они это узнали???"</p>
				<p class="review-author">Иван Бабайкин</p>
				<br style="clear:both">
			</li>
			<li>
				<img src="http://placehold.it/60x60">
				<p class="review-comment">— Нет на свете консультанта лучше чем DEX. В голове всегда один и тот же вопрос: "Это то что мне нужно!! Откуда они это узнали???"</p>
				<p class="review-author">Петя Сидоров</p>
				<br style="clear:both">
			</li>
			<li>
				<img src="http://placehold.it/60x60">
				<p class="review-comment">— Нет на свете консультанта лучше чем DEX. В голове всегда один и тот же вопрос: "Это то что мне нужно!! Откуда они это узнали???"</p>
				<p class="review-author">Максим Петров</p>
				<br style="clear:both">
			</li>
		</ul>
	</div>
</div>



<modal-dialog show='modalShown' width='750px' height='90%'>
	<p>Modal Content Goes here</p>
</modal-dialog>