<div class="rates-box">
	<div class="container">
		<h1>Тарифы</h1>
		<div class="rates-desc">
			<a href="#">Лицензионное соглашение</a>
			<span>Все цены указаны в рублях. НДС не облагается.</span>
		</div>
		<div class="clearfix"></div>
		<div class="rates-plans">
			<div class="plan">
				<p class="name">Базовый</p>
				<p class="cost">800 <span class="rub">Р</span> /год</p>
				<div class="stat">
					<div class="col c1">
						<p class="th">срок действия</p>
						<p class="value">30</p>
						<p class="period">Дней</p>
					</div>
					<div class="col c2">
						<p class="th">количество проектов</p>
						<p class="value">3</p>
						<p class="period">Проекта</p>
					</div>
					<div class="col c3">
						<p class="th">срок проекта</p>
						<p class="value">3</p>
						<p class="period">Года</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="options">
					<li>
						Редактор и система аналитики
					</li>
				</ul>
				<button>Попробовать</button>
			</div>

			<div class="plan">
				<p class="name">Продвинутый</p>
				<p class="cost">2000 <span class="rub">Р</span> /год</p>
				<div class="stat">
					<div class="col c1">
						<p class="th">срок действия</p>
						<p class="value">90</p>
						<p class="period">Дней</p>
					</div>
					<div class="col c2">
						<p class="th">количество проектов</p>
						<p class="value">10</p>
						<p class="period">Проекта</p>
					</div>
					<div class="col c3">
						<p class="th">срок проекта</p>
						<p class="value">5</p>
						<p class="period">Года</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="options">
					<li>Редактор и система аналитики</li>
					<li>Групповая работа с проектами</li>
					<li>Экспорт проектов в формат Excel</li>
				</ul>
				<button>Попробовать</button>
				<div class="pop"></div>
			</div>

			<div class="plan p3">
				<p class="name">Бизнесмен</p>
				<p class="cost">4000 <span class="rub">Р</span> /год</p>
				<div class="stat">
					<div class="col c1">
						<p class="th">срок действия</p>
						<p class="value">360</p>
						<p class="period">Дней</p>
					</div>
					<div class="col c2">
						<p class="th">количество проектов</p>
						<p class="value">25</p>
						<p class="period">Проекта</p>
					</div>
					<div class="col c3">
						<p class="th">срок проекта</p>
						<p class="value">10</p>
						<p class="period">Года</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<ul class="options">
					<li>Редактор и система аналитики</li>
					<li>Групповая работа с проектами</li>
					<li>Экспорт проектов в формат Excel</li>
				</ul>
				<button>Попробовать</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<p class="beta-test-text">Идет бета-тестирование проекта. <br>На этот период использование системы является бесплатным</p>
	</div>
</div>

<div class="payment">
	<div class="container">
		<div class="sidebar">
			<div class="pay-sys box">
				<h4>Платежные системы</h4>
				<ul>
					<li class="visa">Visa</li>
					<li class="master">Mastercard</li>
					<li class="qiwi">Qiwi-кошелек</li>
					<li class="webmoney">Webmoney</li>
					<li class="yandex">Яндекс-деньги</li>
				</ul>
			</div>
			<div class="pay-term box">
				<h4>Терминалы оплаты</h4>
				<ul>
					<li class="qiwi">QIWI</li>
					<li class="elex">Элекснет</li>
					<li class="novo">Новоплат</li>
					<li class="comepay">Comepay</li>
					<li class="unikassa">Уникасса</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="pay-main">
			<h2>Способы оплаты</h2>
			<h3>электронные способы оплаты</h3>
			<p>Оплатить заказ вы можете с помощью электронных способов оплаты — пластиковых карт и электронных денег. Оплата зачисляется в течение нескольких минут с момента совершения операции в платёжных системах.</p>
			<h3>пластиковые карты</h3>
			<p>Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
			   Безопасность обработки Интернет-платежей по пластиковым картам гарантирует банк-эквайер. Все операции с картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном процессинговом сервере.
			   В случае возникновения вопросов по поводу конфиденциальности операций с платёжными картами и предоставляемой вами информации вы можете связаться со службой технической поддержки банка.
			   На странице авторизации потребуется ввести номер карты, имя владельца карты, срок действия карты, верификационный номер карты (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные пропечатаны на самой карте. Верификационный номер карты — это три цифры, находящиеся на обратной стороне карты.
			   Для оплаты вы будете перенаправлены на страницу банка.
			   Произвести оплату необходимо в течение 15 минут после перехода на страницу авторизации карточки.
			   Транзакция может занять около 40 секунд. Дождитесь завершения операции. Не нажимайте повторно кнопку «Заплатить».
			   Платеж происходит в режиме реального времени и зачисляется в течение 15 минут.</p>
			<h3>электронные деньги</h3>
			<span class="pay-p">1. QIWI Кошелёк</span>
			<p>Для оплаты с помощью QIWI Кошелька:Сформируйте заказ на сайте. Выберите в качестве оплаты QIWI Кошелёк и введите номер своего сотового телефона. Оплатите созданный автоматически счёт на сайте системы. QIWI Кошелёк легко пополнить в терминалах QIWI, банковскими картами, в салонах сотовой связи, супермаркетах, банкоматах или через интернет-банк. Совершать платежи вы можете не только со счета QIWI Кошелька, но и наличными, а также с лицевого счета мобильного телефона Билайн, МегаФон, МТС. Если у вас еще нет QIWI Кошелька, вы можете зарегистрировать его за несколько минут на сайте сервиса или в любом из приложений QIWI Кошелька.</p>
			<span class="pay-p">2. WebMoney Transfer</span>
			<p>При выборе способа оплаты при помощи электронного кошелька WebMoney вы будете перенаправлены на страницу Консервативного Коммерческого Банка, авторизованного агента по приему платежей WebMoney в России. Для совершения оплаты вы должны быть зарегистрированы в системе WebMoney Transfer. К оплате принимаются титульные знаки WMR, зачисление денег происходит мгновенно.</p>
			<span class="pay-p">3. Яндекс Деньги</span>
			<p>Для осуществления оплаты с помощью сервиса Яндекс Деньги вам необходимо иметь кошелек, зарегистрировать который можно на сайте Системы. Способы пополнения кошелька можно найти на сайте Системы в разделе «Пополнение». Зачисление платеже й через систему Яндекс.Деньги происходит мгновенно.</p>
		</div>
	</div>
</div>

<div class="pay-order">
	<div class="container">
		<div class="wrap">
			<h2>Порядок оплаты</h2>
			<p>Право потребителя на расторжение договора об оказании услуги регламентируется статьей 32 федерального закона «О защите прав потребителей»</p><p>
			Потребитель вправе расторгнуть договор об оказании услуги в любое время, уплатив исполнителю часть цены пропорционально части оказанной услуги до получения извещения о расторжении указанного договора и возместив исполнителю расходы, произведенные им до этого момента в целях исполнения договора, если они не входят в указанную часть цены услуги;<br>
			Потребитель при обнаружении недостатков оказанной услуги вправе по своему выбору потребовать:<br>
			1) безвозмездного устранения недостатков;<br>
			2) соответствующего уменьшения цены;<br>
			3) возмещения понесенных им расходов по устранению недостатков своими силами или третьими лицами;<br>
			Потребитель вправе предъявлять требования, связанные с недостатками оказанной услуги, если они обнаружены в течение гарантийного срока, а при его отсутствии в разумный срок, в пределах двух лет со дня принятия оказанной услуги;
			Исполнитель отвечает за недостатки услуги, на которую не установлен гарантийный срок, если потребитель докажет, что они возникли до ее принятия им или по причинам, возникшим до этого момента;</p>
		</div>
	</div>
</div>