<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
	<h1>Начните работу прямо сейчас!</h1>
	<div class="main-form">
		<input class="input-email" type="text" placeholder="Ваш электронный адрес">
		<button>Попробовать</button>
	</div>
	<div class="socials">
		<span>Войти: </span>
		<a href="#" class="fb"></a>
		<a href="#" class="vk"></a>
		<a href="#" class="ln"></a>
		<a href="#" class="tw"></a>
		<a href="#" class="gp"></a>
	</div>
</div>